// Sass Variables

// Colors
$primary-default: #2E86AB;          // Deep Blue
$background-light: #F6D55C;         // Mustard Yellow
$background-normal: #ED553B;        // Coral Red
$background-dark: #20639B;          // Navy Blue
$text-white: #F0F0F0;               // Light Grayish White
$text-default: #555555;             // Dark Gray
$brick-white: #FFFFFF;              // White
$primary-contrast: #FF6F61;         // Salmon
$confirm-color: #FFD166;            // Orange
$primary-green: #27AE60;            // Green
$primary-blue: #4A90E2;             // Sky Blue
$primary-blue-disabled: #A6C8FF;    // Light Sky Blue
$background-gray: #EFEFEF;   
// ------------------------
